// BUTTONS
.btn {
  display: inline-block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: none;
  outline: none;
  @include roundedAllCorners(9px);
}

.btn-primary {
  color: darken($primary-color,40%);
  background-color: $primary-color;
  &:hover {
    background-color: lighten($primary-color,10%);
  }
}

.btn-secondary {
  color: darken($primary-color,40%);
  background-color: $secondary-color;
  &:hover {
    background-color: lighten($secondary-color,10%);
  }
}

.btn-success {
  color: darken($ok-color,40%);
  background-color: $ok-color;
  &:hover {
    background-color: lighten($ok-color,10%);
  }
}

.btn-danger {
  color: darken($cancel-color,40%);
  background-color: $cancel-color;
  &:hover {
    background-color: lighten($cancel-color,10%);
  }
}

// ALERT BLOCS
.alert {
  padding: $gutter;

  .alert-info {
    background-color: $info-color;
    color: darken($info-color,30%);
  }

  .alert-warning {
    background-color: $warning-color;
    color: darken($warning-color,30%);
  }
}

.alert-info {
  background-color: $info-color;
}

.alert-warning {
  background-color: $warning-color;
}

.alert-error {
  background-color: $error-color;
}

// LISTS
.list-group {
  border: 1px solid $itemListLineC;
  padding: 0;

  .list-group-item {
    display: block;
    border-bottom: 1px solid $itemListLineC;
    overflow: auto;
    &:last-child {
      border: none;
    }

    a {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      padding: 0.5em 1em;
      color: $textDefaultColor;
      text-decoration: none;
      background-color: $itemListBgC;

      &:hover {
        text-decoration: none;
        background-color: $itemListBgHoverC;
      }
    }
  }
}

.list-group-item-fullName {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

.list-group-item-phone {
  font-size: 1.2em;
  font-weight: normal;
  margin: 0;
}

// FORMS
.form-group {

  label {
    display: block;
    height: $gutter;
    line-height: $gutter;
    font-weight: bold;
  }

  input {
    display: block;
    width: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    height: $gutter;
    line-height: $gutter;
  }
}

